// Borders
$main-border: 1px solid #ddd;

// resets
html,
body,
ul,
ol {
  margin:  0;
  padding: 0;
  font-family: 'Libre Baskerville', serif;
  font-size: 14px;
}

textarea:focus, input:focus{
  outline: none;
}
