@import '../defaultStyles/default';

.main-navigation-bar {
  display: flex;
  justify-content: space-between;
  // border-bottom: $main-border;
  padding: 14px;
  background-color: #eeee32;

  // logo styles
  .main-logo-container {
    cursor: pointer;

    .home-logo {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  // search bar styles
  .main-search-bar {

    label {
      display: flex;
      border: $main-border;
      padding: 5px;
      border-radius: 3px;

      // search input field
      .search-field {
        border: none;
        width: 20rem;
      }

      .search-icon {
        cursor: pointer;
      }
    }
  }

  // menu list styles
  .profile-menu-list-wrapper {
    display: flex;
    justify-content: space-between;

    .main-menu-list {
      display: flex;
      margin-right: 10px;

      li {
        list-style-type: none;
        padding: 0 10px;
        align-self: center;

        a {
          text-decoration: none;
          color: inherit;

          &:hover {
            color: #003152;
            font-weight: 700;
          }
        }
      }
    }

    .main-display-picture {
      img {
        border-radius: 50%;
        width: 2rem;
        height: 2rem;
        cursor: pointer;
      }
    }
  }
}
