@import '../defaultStyles/default';

.main-navigation-bar {
  display: flex;
  justify-content: space-between;
  border-bottom: $main-border;
  padding: 14px;

  .main-logo-container {
    cursor: pointer;

    .home-logo {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  // search bar styling
  .main-search-bar {

    label {
      border: $main-border;
      padding: 5px;
      border-radius: 3px;

      // search input field
      .search-field {
        border: none;
      }

      .search-icon {
        cursor: pointer;
      }
    }
  }
}
